body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header {
  height:100%;
  overflow: hidden;
  background:#8A2BE2;
  border:10px solid #8A2BE2;
  width:100%;
  padding: 20px 10px;
  position: relative;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;

  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
}

.right {
  right: 0;
  background:#E6E6FA;
}

.searchGrid {
  padding-left: 10%;
}

.searchBar {
  border-radius: 10px;
  border: 1px solid black;
  padding: 20px; 
  width: 65%;
  font-size: 14px;
  float: left;
}

.searchBtn {
  float: right;
  color: white;
  width: 20%;
  border-radius: 5px;
  background:#8A2BE2;
  border:18px solid #8A2BE2;
  margin-right: 5%;
  font-size: 15px;
}

table {
  border-collapse: separate;
  border-spacing: 10px 0;
  text-align: left;
  font-size: 15px;
}

td {
  padding: 10px 0;
}

.fav {
  cursor:pointer;
  color:blue;
  text-decoration:underline;
}